{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="main-header col-md-3" style="margin-top: 0px;">
            <h4>Teams</h4>
        </div>
        <div class="dropdown" style="margin-top: 17px; position: fixed; top: 7%; right: 5%; z-index: 10;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Detailed analysis
            </button>
            <div class="dropdown-menu navigator" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#totalruns">Total runs made by teams</a>
                <a class="dropdown-item" href="#totalwickets">Total wickets taken by all teams</a>
                <a class="dropdown-item" href="#toptenwickets">Top 10 wicket takers</a>
                <a class="dropdown-item" href="#">Results against team</a>
                <a class="dropdown-item" href="#">Results in stadiums</a>
                <a class="dropdown-item" href="#">Runs vs Teams</a>
                <a class="dropdown-item" href="#">Bowler vs Season</a>
                <a class="dropdown-item" href="#">Win margin</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" style="position: fixed; top: 11%; left: 50%; z-index: 10; transform: translate(-50%);">
            <select class="js-example-basic-single" id="ddl_team" onchange="updateStuff()">
                {% if team_list %}
                    {% for team in team_list %}
                        <option value="{{ team }}">{{ team }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Total win and loss of teams</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="team-win-loss" class="charts">
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="totalruns">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Total runs made by all teams</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="top-scores" class="charts">
                    {% if total_runs_table %}
                        {% autoescape off %}
                            {{ total_runs_table }}
                        {% endautoescape %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="totalwickets">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Total wickets taken by all teams</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="top-scores" class="charts">
                    {% if total_wickets_table %}
                        {% autoescape off %}
                            {{ total_wickets_table }}
                        {% endautoescape %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="toptenwickets">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Top 10 wicket takers</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="top-10-wickets" class="charts">
                    {% if top_ten_wickets_table %}
                        {% autoescape off %}
                            {{ top_ten_wickets_table }}
                        {% endautoescape %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var team_win_loss_data = '';
        {% if team_win_loss_data %}
            {% autoescape off %}
                team_win_loss_data = {{ team_win_loss_data }}
            {% endautoescape %}
        vegaEmbed('#team-win-loss', team_win_loss_data);
        {% endif %}
        $(".js-example-basic-single").select2();
    </script>
    <script type="text/javascript">
        function updateTopWickets() {
            $.ajax({
                type: 'POST',
                data: {
                    team: document.getElementById('ddl_team').value
                },
                url: 'update_top_wickets/',
                success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                    }
                    console.log(data);
                    document.getElementById('top-10-wickets').innerHTML = '';
                    document.getElementById('top-10-wickets').innerHTML = data;
                }
            });
        }
        function updateStuff() {
            updateTopWickets()

        }
    </script>
{% endblock %}