{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="main-header col-md-3" style="margin-top: 0px;">
            <h4>Players</h4>
        </div>
        <div class="dropdown" style="margin-top: 17px; position: fixed; top: 7%; right: 2%; z-index: 10;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Detailed analysis
            </button>
            <div class="dropdown-menu navigator" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#batsmanvsteam">Batsman vs Team</a>
                <a class="dropdown-item" href="#">Batsman vs Season</a>
                <a class="dropdown-item" href="#">Batsman vs Stadium</a>
                <a class="dropdown-item" href="#">Bowler and Wickets</a>
                <a class="dropdown-item" href="#">Bowler vs Teams</a>
                <a class="dropdown-item" href="#">Bowler vs Season</a>
                <a class="dropdown-item" href="#">Types of out</a>
                <a class="dropdown-item" href="#">Man of the match</a>
                <a class="dropdown-item" href="#">Bowler and Extra runs</a>
                <a class="dropdown-item" href="#">Captains</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Top 10 scores of all time</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="top-scores" class="charts">
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Top 10 average performers against each team</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="top-scores-team" class="charts">
                </div>
            </div>
        </div>
    </div>

    <div id="batsmanvsteam">
        <div class="row">
            <div class="main-header col-md-3" style="margin-top: 0px;">
                <h4>Batsman vs Team</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <div class="row m-b-10 dashboard-total-income">
                    <div class="col-sm-6 text-left">
                        <div class="counter-txt">
                            <h6>
                                Runs made by Players against specific teams.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block row">
                <div class="col-sm-12 col-md-5">
                    <select class="js-example-basic-single">
                        {% if player_list %}
                            {% for player in player_list %}
                                <option value="{{ player }}">{{ player }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="col-sm-12 col-md-5">
                    <select class="js-example-basic-single">
                        {% if team_list %}
                            {% for team in team_list %}
                                <option value="{{ team }}">{{ team }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

            </div>
            <div class="card-block row">
                <div class="col-sm-12">
                    <div id="batsman-vs-team" class="charts">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var top_score_data = '';
        var top_score_vs_data = '';
        var batsman_vs_team_data = '';
        {% if top_score_data %}
            {% autoescape off %}
                top_score_data = {{ top_score_data }}
                    console.log(top_score_data);
            {% endautoescape %}
            vegaEmbed('#top-scores', top_score_data);
        {% endif %}
        {% if top_score_vs_team_data %}
            {% autoescape off %}
                top_score_vs_data = {{ top_score_vs_team_data }}
            {% endautoescape %}
        vegaEmbed('#top-scores-team', top_score_vs_data);
        {% endif %}
        {% if batsman_vs_team_data %}
            {% autoescape off %}
                batsman_vs_team_data = {{ batsman_vs_team_data }}
            {% endautoescape %}
        vegaEmbed('#batsman-vs-team', batsman_vs_team_data);
        {% endif %}
        $(".js-example-basic-single").select2();

    </script>
{% endblock %}