{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="main-header" style="margin-top: 0px;">
            <h4>Dashboard</h4>
        </div>
    </div>
    <!-- 4-blocks row start -->
    <div class="row m-b-30 dashboard-header">
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Seasons</span>
                <h2 class="dashboard-total-products counter">9</h2>
                <div class="side-box bg-warning">
                    <i class="fas fa-calendar-day"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Teams</span>
                <h2 class="dashboard-total-products counter">13</h2>
                <div class="side-box bg-primary">
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Players</span>
                <h2 class="dashboard-total-products"><span class="counter">469</span></h2>
                <div class="side-box bg-danger">
                    <i class="fas fa-running"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Matches</span>
                <h2 class="dashboard-total-products"><span class="counter">577</span></h2>
                <div class="side-box bg-success">
                    <i class="fas fa-street-view"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Catches</span>
                <h2 class="dashboard-total-products"><span class="counter">3954</span></h2>
                <div class="side-box bg-primary">
                    <i class="fas fa-street-view"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Wickets taken</span>
                <h2 class="dashboard-total-products"><span class="counter">6727</span></h2>
                <div class="side-box bg-danger">
                    <i class="fas fa-street-view"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Runs scored</span>
                <h2 class="dashboard-total-products"><span class="counter">165961</span></h2>
                <div class="side-box bg-success">
                    <i class="fas fa-street-view"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Balls delivered</span>
                <h2 class="dashboard-total-products"><span class="counter">136590</span></h2>
                <div class="side-box bg-primary">
                    <i class="fas fa-street-view"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Sixes</span>
                <h2 class="dashboard-total-products"><span class="counter">5814</span></h2>
                <div class="side-box bg-primary">
                    <i class="fas fa-street-view"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="col-sm-12 card dashboard-product">
                <span>Fours</span>
                <h2 class="dashboard-total-products"><span class="counter">15414</span></h2>
                <div class="side-box bg-primary">
                    <i class="fas fa-street-view"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Cities that got to see the action in place</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="citymatch">
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <div class="row m-b-10 dashboard-total-income">
                <div class="col-sm-6 text-left">
                    <div class="counter-txt">
                        <h6>Players from around the world</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block row">
            <div class="col-sm-12">
                <div id="countryplayer">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var match_data = '';
        var player_data = '';
        {% if match_city_data %}
                {% autoescape off %}
                    match_data = {{ match_city_data }}
                {% endautoescape %}
                            vegaEmbed('#citymatch', match_data);
        {% endif %}
        {% if player_country_data %}
            {% autoescape off %}
                player_data = {{ player_country_data }}
            {% endautoescape %}
            vegaEmbed('#countryplayer', player_data)
        {% endif %}
    </script>
{% endblock %}